.Admin {
  font-family: var(--desktop-font);
  background-color: var(--dark-grey);
  color: white;
}

.Admin .header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-size: 2em;
  background-color: var(--light-grey);
  color: white;
}

.Admin .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Admin .content-row {
  display: flex;
  flex-direction: row;
  width: 820px;

  padding: 10px 10px;

  border-bottom: 2px solid rgba(100, 100, 100, 0.25);
}

.Admin .content-row:first-child {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

.Admin .content-row div {
  width: 200px;
}

.Admin .content-row button {
  margin: 0 auto;
  width: 80%;
  margin: 0 10%;
}

.Admin button {
  font-family: var(--conspiracy-font);
  background-color: var(--light-grey);
  color: white;
  outline: none;
}

.Admin-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Admin-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Admin-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Admin-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
