.floor-planner {
    width: 960px;
    height: 480px;

    display: flex;
    flex-direction: row;
    
    position: relative;
}

.floor-planner .floor-plan {
    width: 720px;
    height: 480px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url("/floorPlan.png");
    position: absolute;
}

.floor-planner .controls {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.floor-planner .sensor-source {
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: var(--off-white);

    width: 100%;
}

.floor-planner .sensor-sample {
    height: 30px;
    width: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 10px;

    cursor: grab;
}

.floor-planner .sample-camera {
    background-image: url("/sensors/camera.png");
}

.floor-planner .sample-motion {
    background-image: url("/sensors/motion.png");
}

.floor-planner .sample-laser {
    background-image: url("/sensors/laser.png");
}

.floor-planner .export {
    margin-top: 10px;
    height: 40px;
    width: 80%;

    font-size: 1em;

    border-radius: 10px;
    border: 2px solid #111111;

    box-shadow: 2px 2px var(--light-grey);
}

.floor-planner .export:active {
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
}

.floor-planner .export:focus {
    outline: 0;
}

.floor-planner .export:hover:not(:disabled) {
    background-color: #1d5ac8;
}

.floor-planner .sensor-container {
    width: 720px;
    height: 480px;

    background-color: var(--off-white);
}

.floor-planner .hiding-container {
    overflow: hidden;
    position: absolute;
    width: 720px;
    height: 480px;
}

.floor-planner .sensor {
    position: absolute;
    box-sizing: border-box;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.floor-planner .sensor.near {
    transform: translateX(-10px) translateY(-10px); 
    background: none;
    border: 10px solid #1d5ac8;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    z-index: 1;
}

.floor-planner .dragging-sensor {
    height: 30px;
    width: 30px;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: grabbing;
}

.floor-planner .dragging-sensor.sensor-drag-camera {
    background-image: url("/sensors/camera.png");
}

.floor-planner .dragging-sensor.sensor-drag-motion {
    background-image: url("/sensors/motion.png");
}

.floor-planner .dragging-sensor.sensor-drag-laser {
    background-image: url("/sensors/laser.png");
}

.floor-planner .entrance {
    position: absolute;
    height: 60px;
    width: 60px;
    color: #1d5ac8;
    left: 240px;
    top: 45px;
    font-size: 2em;
    text-align: center;
}

.floor-planner .alex-location {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #1d5ac8;
    box-shadow: 0 0 5px #ffffff inset;
    left: 260px;
    top: 80px;
    transition: top 0.2s, left 0.2s;
    border-radius: 50%;
}

.floor-planner .sensor-type-undeclared {
    transform: translateX(-5px) translateY(-5px);
    background-color: #1ab900;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.floor-planner .sensor-type-motion.sensor-direction-0 {
    transform: translateX(-60px) translateY(-60px);
    height: 63px;
    width: 120px;
    background-image: url("/sensors/motion-0.png");
}

.floor-planner .sensor-type-motion.sensor-direction-1 {
    transform: translateX(-60px) translateY(-60px);
    height: 120px;
    width: 120px;
    background-image: url("/sensors/motion-1.png");
}

.floor-planner .sensor-type-motion.sensor-direction-2 {
    transform: translateX(-3px) translateY(-60px);
    height: 120px;
    width: 63px;
    background-image: url("/sensors/motion-2.png");
}

.floor-planner .sensor-type-motion.sensor-direction-3 {
    transform: translateX(-60px) translateY(-60px);
    height: 120px;
    width: 120px;
    background-image: url("/sensors/motion-3.png");
}

.floor-planner .sensor-type-motion.sensor-direction-4 {
    transform: translateX(-60px) translateY(-3px);
    height: 63px;
    width: 120px;
    background-image: url("/sensors/motion-4.png");
}

.floor-planner .sensor-type-motion.sensor-direction-5 {
    transform: translateX(-60px) translateY(-60px);
    height: 120px;
    width: 120px;
    background-image: url("/sensors/motion-5.png");
}

.floor-planner .sensor-type-motion.sensor-direction-6 {
    transform: translateX(-60px) translateY(-60px);
    height: 120px;
    width: 63px;
    background-image: url("/sensors/motion-6.png");
}

.floor-planner .sensor-type-motion.sensor-direction-7 {
    transform: translateX(-60px) translateY(-60px);
    height: 120px;
    width: 120px;
    background-image: url("/sensors/motion-7.png");
}

.floor-planner .sensor-type-laser {
    transform: translateX(-5px) translateY(-5px);
    height: 10px;
    width: 10px;
}

.floor-planner .sensor-type-laser.sensor-direction-0 {
    background-image: url("/sensors/laser-0.png");
}

.floor-planner .sensor-type-laser.sensor-direction-1 {
    background-image: url("/sensors/laser-1.png");
}

.floor-planner .sensor-type-laser.sensor-direction-2 {
    background-image: url("/sensors/laser-2.png");
}

.floor-planner .sensor-type-laser.sensor-direction-3 {
    background-image: url("/sensors/laser-3.png");
}

.floor-planner .sensor-type-laser.sensor-direction-4 {
    background-image: url("/sensors/laser-4.png");
}

.floor-planner .sensor-type-laser.sensor-direction-5 {
    background-image: url("/sensors/laser-5.png");
}

.floor-planner .sensor-type-laser.sensor-direction-6 {
    background-image: url("/sensors/laser-6.png");
}

.floor-planner .sensor-type-laser.sensor-direction-7 {
    background-image: url("/sensors/laser-7.png");
}

.floor-planner .laser-line {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
}

.floor-planner .laser-0 {
    left: 119px;
    top: 89px;
    width: 362px;
    height: 2px;
}

.floor-planner .laser-1 {
    left: 5px;
    top: 209px;
    width: 710px;
    height: 2px;
}

.floor-planner .laser-2 {
    left: 179px;
    top: 329px;
    width: 182px;
    height: 2px;
}

.floor-planner .laser-3 {
    left: 479px;
    top: 449px;
    width: 236px;
    height: 2px;
}

.floor-planner .laser-4 {
    left: 29px;
    top: 5px;
    width: 2px;
    height: 470px;
}

.floor-planner .sensor-type-camera {
    transform: translateX(-120px) translateY(-120px);
    height: 240px;
    width: 240px;
}

.floor-planner .sensor-type-camera.sensor-direction-0 {
    background-image: url("/sensors/camera-0.png");
}

.floor-planner .sensor-type-camera.sensor-direction-1 {
    background-image: url("/sensors/camera-1.png");
}

.floor-planner .sensor-type-camera.sensor-direction-2 {
    background-image: url("/sensors/camera-2.png");
}

.floor-planner .sensor-type-camera.sensor-direction-3 {
    background-image: url("/sensors/camera-3.png");
}

.floor-planner .sensor-type-camera.sensor-direction-4 {
    background-image: url("/sensors/camera-4.png");
}

.floor-planner .sensor-type-camera.sensor-direction-5 {
    background-image: url("/sensors/camera-5.png");
}

.floor-planner .sensor-type-camera.sensor-direction-6 {
    background-image: url("/sensors/camera-6.png");
}

.floor-planner .sensor-type-camera.sensor-direction-7 {
    background-image: url("/sensors/camera-7.png");
}