.guest {
    width: 100vw;
    height: 100vh;

    --header-height: 28px;

    --shortcut-size: 100px;
    --shortcut-icon-size: 65px;

    font-family: var(--desktop-font);
    user-select: none;
    overflow: hidden;
}

.guest .lock-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--light-grey);
    background: linear-gradient(-40deg, #151515, #353535);

    width: 100vw;
    height: 100vh;
}

.lock-screen .user-icon {
    margin-top: -50px;
    width: calc(2*var(--shortcut-icon-size));
    height: calc(2*var(--shortcut-icon-size));
    margin-bottom: 24px;
}

.lock-screen h1 {
    color: var(--off-white);
    font-size: 30px;
    margin-bottom: 14px;
}

.lock-screen label {
    margin: 5px 0;
}

.lock-screen label input {
    width: calc(4 * var(--shortcut-icon-size));
    height: calc(.25 * var(--shortcut-icon-size));
    background-color: rgba(40, 40, 40, 0.8);
}

.lock-screen label input, .lock-screen button {
    font: inherit;
    padding: 12px;
    border: 2px solid rgba(120, 120, 120, 0.4);
    border-radius: 4px;
    color: white;
}

.lock-screen button {
    margin-top: 24px;
    background-color: var(--light-grey);
}

.lock-screen .error-message {
  background-color: rgba(193, 47, 37, 0.9);
  color: white;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
}

.guest .header {
    height: var(--header-height);
    background-color: var(--dark-grey);
    background: linear-gradient(0deg, #191919, #282828);

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;
}

.guest .header-time {
    color: var(--off-white);
    padding: 0 20px;
}

.guest .home-screen {
    height: calc(100vh - var(--header-height));
    background-color: var(--light-grey);
    background-image: url('/desktop/wallpaper.jpg');
    background-size: cover;
    background-position: center;

    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    overflow: hidden;
}

.guest .shortcut {
    width: var(--shortcut-size);
    height: var(--shortcut-size);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
    margin: 8px;
    color: var(--off-white)
}
.guest .shortcut:hover {
    cursor: pointer;
}

.guest .shortcut img {
    width: var(--shortcut-icon-size);
    height: 100%;
    margin: auto;
}

.guest .icon {
    width: var(--shortcut-icon-size);
    height: var(--shortcut-icon-size);
}

.guest .shortcut-name {
    font-size: large;
    text-align: center;
}

/* https://codepen.io/anatravas/pen/vyOwOZ */

.guest .noise-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guest .noise-wrapper.failure {
  background: radial-gradient(ellipse at center, #4ea92d 0%, black 100%);
}
.guest .noise-wrapper.success {
  background: radial-gradient(ellipse at center, white 0%, black 100%);
}

.guest .noise-wrapper h1 {
  color: white;
  font-family: var(--conspiracy-font);
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  padding: 20px;
}
.guest .noise-wrapper.failure h1 {
  color: red;
}
.guest .noise-wrapper h6 {
  background-color: rgba(102, 255, 46, 0.5);
  padding: 8px;
}
.guest .noise-wrapper a {
  color: inherit;
}

.guest .noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url('/noise.jpg') 0 0;
  background-size: 320px 320px;
  opacity: 0.35;
  animation: noise 1s steps(8, end) infinite both;
  pointer-events: none;
}

@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
