.host {
  --header-height: 38px;
  --sidebar-width: 450px;
  background-color: #F0F0F0;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #393939;

  overflow: hidden;

  display: grid;

  grid-template-columns: 1fr var(--sidebar-width);
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  height: 100vh;
}

.host .header {
  grid-column: span 2;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  box-shadow: 0 0 2px #acacac;
  background-color: #00394E;
  color: #C0F4EC;
}

.host .header h1 {
  width: 200px;
  font-family: 'chainprinter','Roboto Mono', monospace;
}

.host .header .player-link {
  display: flex;
  align-items: center;
}

.host .player-link a {
  color: #5DA89D;
  margin-right: 10px;
  /*width: 200px;*/
  overflow: hidden;
  font-size: 0.8em;
  background-color: #00394E;
  padding: 6px;
  border: 2px solid rgba(198, 221, 232, 0.25);
  border-radius: 5px;
}

.host .player-link button {
  width: 150px;
  height: calc(var(--header-height) - 4px);
}

.host .main {
  width: 100%;
  overflow-y: auto;
  /*background-color: #F0F0F0;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host .act {
  margin: 48px 24px 12px 24px;
  padding: 72px 30px 30px 30px;
  border-radius: 0 0 24px 24px;

  position: relative;
  background-color: white;
  box-shadow: 0 0 4px #acacac;
  transition: opacity 1s ease-in-out;

  width: 720px;

  color: #393939;
}

.host .act.act-active {
  margin-bottom: calc(20vh - var(--header-height));
  opacity: 1;
}

.host .act.act-inactive {
  opacity: 0.6;
}

.host .act .act-header {
  position: absolute;
  top: -2px;
  left: -12px;
  width: calc(100% + 12px);
  height: 36px;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 0 4px #acacac;
  text-transform: uppercase;
}

.host .main h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 48px;
  display: block;
  text-transform: uppercase;
}

.host .main h2:nth-child(2) {
  margin-top: 12px;
} 

.host .main i {
  font-style: italic;
}

.host .main b {
  font-weight: bold;
}

.host .main .center {
  text-align: center;
  margin: 24px;
}

.host .main ul {
  padding-left: 24px;
  margin: 12px 0;
}

.host .main p,
.host .main li {
  font-size: 15px;
  line-height: 1.5;
}
.host .main p {
  margin: 12px 0;
}

.host .main p em {
  color: #821100;
}

.host .main p strong {
  font-style: italic;
  font-size: 0.9em;
}

.host .main p.older {
  font-size: 0.9em;
  opacity: 0.8;
}

.host .main p.current {
  font-size: 1.3em;
  font-style: italic;
  margin: 20px 0 30px 0;
  font-weight: bold;
}

.host .main .line-prompter,
.host .main .available-actions {
  min-height: 100px;
  margin: 24px;
}

.host .side-bar button {
  margin: 4px;
}
.host .act button {
  margin: 12px 0;
}

.host .act button + button {
  margin: 12px 0 12px 24px;
}

.host .act button,
.host .side-bar button {
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  background-color: #5AA0F2;
  border-radius: 8px;
  flex: 1 0 45%;
  max-height: 60px;
  padding: 16px 24px;
  border: none;
  box-shadow: 0 0 2px #acacac;
  max-width: 500px;
  text-transform: uppercase;
}
.host .act button:hover,
.host .side-bar button:hover {
  cursor: pointer;
}
.host .act button:focus,
.host .side-bar button:focus {
  outline: none;
}

.host .side-bar button {
  background-color: #C3C3C3;
  color: #707070;
}


.host button.content {
  background: #5AA0F2;
}
.host button.warning {
  background: #D0183B;
  color: white;
}
.host button.state {
  background: #EDB538;
}
.host .act button.complete {
  background: #2bc125;
}

.host .side-bar {
  width: calc(100% - 12px);
  margin-right: 12px;
  /*background-color: #F0F0F0;*/
  display: grid;

  grid-template-rows: 120px 170px calc(
      100vh - var(--header-height) - 170px - 120px
    );
  align-items: center;

  padding: 10px 0;
}

.host .show-info,
.host .show-controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: calc(100% - 16px);
  padding: 24px 8px;
}

.host .show-controls {
  margin-top: 60px;
}

.host .show-info {
  justify-items: center;
  margin-top: 60px;
}

.host .timeline {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 90px repeat(6, 1fr) 90px;
  width: 95%;
  justify-items: center;
  color: #393939;
  font-weight: bold;
  margin: 24px 0;
}

.host .progress {
  box-shadow: 0 0 2px #acacac;
  width: 85%;
  border-radius: 4px;
}

.host .progress-complete {
  background: #268423;
}

.host .progress-incomplete {
  background: #821100;
}

.host .show-controls .add-time {
  grid-column: span 2;
}

.host .side-bar .show-controls button.disabled {
  opacity: 0.5;
}

.host .chat-box {
  font-family: var(--desktop-font);
  border-top: 2px solid #404040;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  padding: 2px 6px;
  border-radius: 5px;
  box-shadow: 0 0 4px #acacac;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 80px;
}
