.actor-sound-trigger {
  width: 360px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/
  height: 60px;
  margin-bottom: 10px;
}

.actor-sound-trigger .progress-bar {
  position: absolute;
  background-color: #C388FF;
  border-radius: 10px;
  width: 0px;
  height: 10%;
  z-index: 0;
  bottom: -6px;
  opacity: 1;
}

.actor-sound-trigger .progress-bar.progress-bar-active {
  width: 275px;
  transition: width var(--trigger-animation-duration) linear;
}

.actor-sound-trigger .progress-bar.progress-bar-inactive {
  opacity: 0;
  transition: width 0s linear 0.1s, opacity 0.1s ease-out;
}

.host .act .actor-sound-trigger button {
  display: block;
  margin: 0;
  flex: initial;
  z-index: 1;
}

.host .actor-sound-trigger button + button {
  margin: 0 0 0 0;
}
.host .act .actor-sound-trigger .actor-trigger-button {
  background-color: #A27EF5;
  width: 275px;
}

.host .act .actor-sound-trigger .actor-stop-button {
  width: 40px;
  height: 40px;
  margin-left: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
