.calculator-box {
    display: block;
    width: 240px;

    display: flex;
    flex-direction: column;

    background-color: #262626;
    --offset: 20px;
    padding: var(--offset);
}

.calculator-box .calculator-display {
    width: calc(100% + 16px);
    margin-bottom: 12px;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 30px;
    padding: 12px;

    background-color: #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.calculator-box .calculator-display .output-value,
.calculator-box .calculator-display .input-value {
    width: calc(100% - 16px);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    overflow: hidden;

    margin-bottom: 5px;
    /*background-color: #D4E3E6;*/
    color: white;
    /*border-left: 12px solid #D4E3E6;*/
    /*border-right: 12px solid #D4E3E6;*/

    font-family: inherit;
    margin: 0;
}

.calculator-box .calculator-display .output-value {
    justify-content: flex-end;
    border-radius: 0 0 5px 5px;
    padding-top: 8px;
/*    padding-bottom: 5px;*/
    font-size: 1.25em;
}

.calculator-box .calculator-display .input-value {
    border-radius: 5px 5px 0 0;
    padding-top: 5px;
    height: 32px;
    font-size: 0.75em;
    opacity: 0.5;
}

.calculator-box .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 8px;
    column-gap: 8px;
    width: 100%;
    height: 280px;
    outline: none;
}

.calculator-box .calculator-buttons .calc-button {
    color: white;
    font-weight: bold;
    font-size: 26px;
    font-family: inherit;
    border-radius: 6px;
    background-color: #575A55;
    border: none;
}
.calculator-box .calculator-buttons .calc-button:hover {
    cursor: pointer;
}
.calculator-box .calculator-buttons .calc-button:focus {
    outline: none;
}
.calculator-box .calculator-buttons .calc-button:active {
    background-color: #4A4D48;
    border: 2px solid #454743;
}
.calculator-box .calculator-buttons .calc-button-equal {
    grid-column: span 2;
}
.calculator-box .calculator-buttons .calc-button-c {
    background-color: #9E3C4B;
    border-color: #993A48;
}
.calculator-box .calculator-buttons .calc-button-c:active {
    background-color: #8F3644;
    border-color: #8A3441;
}
.calculator-box .calculator-buttons .calc-button-del {
    background-color: #829F3C;
    border-color: #7D993A;
}
.calculator-box .calculator-buttons .calc-button-del:active {
    background-color: #789438;
    border-color: #748F36;
}