.calculator-box {
    display: block;
    height: 530px;
    width: 450px;

    display: flex;
    flex-direction: column;

    background-color: #222222;
    --offset: 20px;
    padding: var(--offset);
}

.calculator-box .calculator-display {
    width: calc(100% - 10px);
    height: 100px;
    margin-bottom: 10px;
    font-size: 30px;

    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;

    background-color: #dddddd;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.calculator-box .calculator-display .output-value,
.calculator-box .calculator-display .input-value {
    height: 45px;
    width: 94%;
    padding:  0 3%;
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calculator-box .calculator-display .output-value {
    justify-content: flex-end;
}

.calculator-box .calculator-display .input-value {
    margin-bottom: 5px;
}

.calculator-box .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    height: 400px;
    outline: none;
}


.calculator-box .calculator-buttons .calc-button {
    font-size: 30px;
    font-weight: 1000;
    border-radius: 10px;
    background-color: #dddddd;
}
.calculator-box .calculator-buttons .calc-button-clear,
.calculator-box .calculator-buttons .calc-button-equal {
    grid-column: span 2;
}
.calculator-box .calculator-buttons .calc-button-clear {
    background-color: red;
}