.chat-box {
    display: block;
    height: 600px;
    width: 450px;

    display: flex;
    flex-direction: column;

    background-color: #222222;
}

.chat-header {
    height: max(5vh, 50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-message-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.chat-message-holder::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-message-holder {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.chat-messages {
    text-align: left;
    min-height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;

    background-color: #363636;
    color: #eeeeee;

}

.chat-sender {
    align-self: flex-end;
}

.chat-form {
    height: max(5vh, 50px);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.chat-form * {
    margin: 5px;
}
