.chat-box {
    display: block;
    height: 600px;
    width: 450px;

    display: flex;
    flex-direction: column;

    background-color: #222222;

    --send-icon-size: 48px;
    --file-icon-size: 14px;
    --color-bubble-size: 36px;
}

.chat-header {
    height: max(5vh, 50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-message-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    padding: 8px 8px 0px 8px;
}

.chat-message-holder::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-message-holder {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat-messages {
    width: auto;
    max-width: 65%;
    text-align: left;
    margin: 8px;
    color: #eeeeee;
    line-height: 1.25em;
    position: relative;
}
.chat-messages .color-bubble {
    width: var(--color-bubble-size);
    height: var(--color-bubble-size);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
}
.chat-messages .sender-name  {
    opacity: 0.5;
    font-size: 90%;
    margin: 8px 4px;
    position: relative;
    left: 20%;
}
.chat-messages .message-bubble {
    left: 20%;
}
.chat-messages .message-bubble, .chat-messages .file {
    background-color: #363636;
    padding: 16px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
}
.chat-messages .message-bubble-image {
    padding: 0;
    display: inline-block;
    position: relative;
    left: 20%;
}
.chat-messages .message-bubble-image img {
    border-radius: 8px;
}
.chat-messages.chat-sender {
    align-self: flex-end;
}
.chat-messages.chat-sender * {
    left: 0;
}
.chat-messages .message-bubble-image img {
    max-width: 220px;
}

.chat-messages .file p {
    font-weight: bold;
    background-color: #303030;
    padding: 8px 12px;
    border-radius: 4px;
}
.chat-messages .file .icon {
    display: inline;
    max-width: var(--file-icon-size);
    max-height: var(--file-icon-size);
    margin-right: 4px;
    border-radius: 0;
}

.chat-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr calc(1.25*var(--send-icon-size));
}
.chat-form > * {
    height: max(5vh, 50px);
}

.chat-form input {
    background-color: rgba(40, 40, 40, 0.8);
    font: inherit;
    padding: 0px 12px;
    margin: 12px;
    border: 2px solid rgba(120, 120, 120, 0.4);
    border-radius: 4px;
    color: white;
}

.chat-form .send-button {
    width: var(--send-icon-size);
    background: transparent;
    border: none;
    margin: 25% 0;
}
.chat-form .send-button:hover {
    cursor: pointer;
}
.chat-form .send-button:focus {
    outline: none;
}

.chat-form .send-button img {
    opacity: 0.5;
}
