.document-holder {
    height: 600px;
    width: 460px;
    padding: 50px;

    background-color:#eee;
    background-position: center;
    background-size: 300px 300px;
    /* background-image: url("/file.png"); */
    background-repeat: no-repeat;

    overflow-y: scroll;

    font-family: var(--government-font);
    color: #222222;
}

.document-holder .logo {
    width: 60%;
    margin-top: -25px;
}

.document-holder h2 {
    font-size: 1.5em;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;
}

.document-holder h3 {
    font-size: 1.1em;

    margin-top: 20px;
    margin-bottom: 10px;
}

.document-holder p {
    font-size: 0.9em;
    line-height: 1.25em;
}

.document-holder span.alien {
    text-transform: uppercase;
}

ul {
    list-style: disc inside;
}


/* special types of documents */
.guard {
    padding: 24px 0;
    font-family: var(--conspiracy-font);
}
.guard h1 {
    font-size: 1.5em;
}
.guard h1, .guard h6 {
    font-weight: bold;
    margin: 10px 0;
}
.guard h6 {
    margin-bottom: 12px;
}
.guard strong {
    font-weight: bold;
}
.guard .guard-portrait {
    width: 180px;
    margin: 0 20px;
    float: right;
}
.transcript {
    -webkit-user-select: text;
    user-select: text;
    font-family: var(--conspiracy-font);
}
.transcript p {
    margin: 8px 0;
}
.transcript h2 {
    background-color: black;
    color: white;
    padding: 4px;
}
.directory h3 {
    font-weight: bold;
}
.directory ul {
    list-style-type: none;
    padding-left: 0;
}
.directory li {
    margin: 2px 0;
}
.security-manual .note {
    padding: 12px 0;
}
.security-manual p {
    margin: 12px 0;
}
.security-manual .invoice {
    font-family: sans-serif;
    border-top: 1px solid black;
    padding-top: 8px;
    font-size: 85%;
}
.security-manual .invoice table {
    margin: 16px 0;
    font-size: 85%;
}
.security-manual .invoice td, .security-manual .invoice th {
    width: 70px;
    border: 1px solid black;
    padding: 8px;
    text-align: right;
}
.security-manual .invoice td:nth-child(1), .security-manual .invoice th:nth-child(1) {
    width: 190px;
    text-align: left;
}
.security-manual .invoice th {
    background-color: #aaaaaa;
    font-weight: bold;
}
.security-manual .invoice h3, .security-manual .invoice h6 {
    font-weight: bold;
    margin: 4px 0;
    line-height: 1.15em;
}
.security-manual .invoice .redacted {
    background-color: var(--dark-grey);
}
.security-manual .invoice .total {
    text-align: right;
    margin: 8px 0;
    font-size: 90%;
}
.security-manual .special-notes {
    margin: 16px 0;
    font-size: 85%;
}
.security-manual .special-notes h6 {
    margin: 8px 0;
}