.document-holder {
    height: 600px;
    width: 460px;
    padding: 50px;

    background-color:#eee;
    background-position: center;
    background-size: 300px 300px;
    /* background-image: url("/file.png"); */
    background-repeat: no-repeat;

    font-family: var(--government-font);
    color: #222222;
}

.document-holder .logo {
    width: 60%;
    margin-top: -25px;
}

.document-holder h2 {
    font-size: 1.5em;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;
}

.document-holder h3 {
    font-size: 1.1em;

    margin-top: 20px;
    margin-bottom: 10px;
}

.document-holder p {
    font-size: 0.85em;
    line-height: 1.25em;
}