.draggable {
    position: absolute;

    --drag-header-size: 20px;
    --drag-header-color: #4b4b4b;
    --close-button-color: #c54d4a;
    --round-over: 5px;

    background-color: #222222;
    border-radius: var(--round-over);
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.draggable-header {
    height: var(--drag-header-size);
    background-color: #4b4b4b;
    background: linear-gradient(0deg, #4b4b4b, #5a5a5a);

    display: grid;
    grid-template-columns: var(--drag-header-size) 1fr var(--drag-header-size);

    cursor: grab;

    border-radius: var(--round-over) var(--round-over) 0 0;
}

.draggable-header .close-app {
    background-color: var(--close-button-color);
    color: #2e2e2e;
    
    margin: 2px;

    border-radius: 50%;

    width: calc(var(--drag-header-size) - 4px);
    height: calc(var(--drag-header-size) - 4px);

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: small;

    cursor: pointer;
}

.draggable-header .app-name {
    width: 100%;
    text-align: center;
    
    color: #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-body, .draggable-body > *:last-child, .draggable-body .pnlm-container  {
    border-radius: 0 0 var(--round-over) var(--round-over);
    /* padding: var(--round-over); */
}