.file-system {
    text-align: left;
    /* padding: 5px; */

    display: block;
    height: 450px;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #eeeeee;
}

.file-system .stats {
    text-align: center;
    border-top: 1px solid #111111;
    background: linear-gradient(0deg, #202020, #303030);
    padding: 10px 0;
    border-radius: 0 0 var(--round-over) var(--round-over);
}

.file-system .central {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}


.file-system .folders {
    width: 225px;

}

.file-system .files  {
    width: 300px;
}

.file-system .folders,
.file-system .files  {
    display: flex;
    flex-direction: column;
    border-right: 8px solid var(--light-grey);
}

.file-system .folder,
.file-system .file {
    padding: 10px 36px;
    position: relative;
}

.file-system .encrypted {
    opacity: .5;
}

.file-system .available {
    cursor: pointer;
}

.file-system .folder.selected {
    background-color: #1d5ac8;
}

.file-system .available::before,
.file-system .available::after,
.file-system .encrypted::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file-system .encrypted::before {
    width: 21px;
    height: 21px;
    left: 8px;
    top: 8px;
}
.file-system .folder.encrypted::before {
    background-image: url("/desktop/folder-locked.svg");
}
.file-system .file.encrypted::before {
    background-image: url("/desktop/file-locked.svg");
}

.file-system .folder.available::before {
    width: 21px;
    height: 21px;
    left: 8px;
    top: 8px;
    background-image: url("/desktop/folder.svg");
}

.file-system .folder.available::after {
    right: 10px;
    /* top: 5px; */
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(238, 238, 238, 0.35);
}

.file-system .file.available::before {
    width: 21px;
    height: 21px;
    left: 8px;
    top: 8px;
    background-image: url("/desktop/file.svg");
}