.host .sound-player {
  border-radius: 10px;
}
.host .sound-player:hover {
  height: 160px;
  width: calc(7.5 * var(--header-height));
}
.host .sound-player .hover-items {
  top: 60%;

  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 190px;

  z-index: 10;

  padding: 10px;
}

.host .sound-player:hover .hover-items {
  height: 40px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  border: 2px solid #ddd;
}

.host .sound-player .sound-slider {
  transform: none;
}

.host .sound-player .sound-slider input[type="range"]::-webkit-slider-thumb {
  cursor: ew-resize;
}

.host .sound-player .sound-mute {
  margin-bottom: 0;
}

.sound-player {
  position: relative;
  display: inline-block;
  height: calc(2 * var(--header-height));
  width: calc(2 * var(--header-height));
  z-index: 1;
  border-radius: 25%;
  margin-right: -10px;
}

.sound-player .sound-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--header-height) - 4px);
  width: calc(var(--header-height) - 4px);

  border-radius: 50%;
}

.sound-player .sound-icon.icon-muted {
  background-image: url('/desktop/volume-muted.svg');
}

.sound-player .sound-icon.icon-empty {
  background-image: url('/desktop/volume-empty.svg');
}

.sound-player .sound-icon.icon-full {
  background-image: url('/desktop/volume-full.svg');
}

.sound-player .hover-items {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 0px;
  overflow-y: hidden;
  width: 40px;

  border-radius: 10px;

  background-color: var(--dark-grey);
}

.sound-player:hover {
  height: 400px;
}

.sound-player:hover .hover-items {
  opacity: 1;
  height: 190px;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sound-player .sound-slider {
  transform: translateY(70px) rotate(270deg);
}

.sound-player .sound-slider input[type="range"] {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #6dc16a;
  outline: none;
  height: 12px;
}
.sound-player .sound-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: ns-resize;
  background: #268423;
}

.sound-player .sound-mute {
  display: block;
  height: calc(var(--header-height) - 4px);
  width: calc(var(--header-height) - 4px);
  margin-bottom: 12px;
}

.sound-player .sound-mute input[type="checkbox"] {
  display: none;
}

.sound-player .sound-mute .muted-display {
  cursor: pointer;
  height: calc(var(--header-height) - 4px);
  width: calc(var(--header-height) - 4px);
  border-radius: 50%;
  background-image: url('/desktop/volume-muted.svg');
}

.sound-player .sound-mute input[type="checkbox"]:checked + .muted-display {
  background-image: url('/desktop/volume-full.svg');
}
