.timer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 150px;
  height: 100px;

  background-color: #222222;
  color: #eeeeee;
}

.host .timer-box {
  background-color: #00394E;
  color: #C0F4EC;
  padding: 2px 12px;
  border-radius: 8px;
  border: 2px solid #C6DDE8;
  box-shadow: 0 0 4px #acacac;
}

.timer-box.player-time {
  opacity: 0.4;
}

.timer-box.actual-time {
  font-weight: bold;
}

.timer-box h3 {
  font-size: 14px;
}

.timer-box p {
  font-size: 50px;
}
