.translation_key{
  height: 440px;
  max-height: 440px;
  overflow-y: scroll;
  max-width: 200px;
  background-color: black
}

.translation_key::-webkit-scrollbar{
  background-color: black;

}
.translation_key::-webkit-scrollbar-thumb {
  background-color: #3f3f3f ;
}

.keyBar{

}

.header_container{
  float:left;
  display: inline-block;
  width: 100%;
}

.header_child{
  float:left;
  color:white;
  background: black;
  float:left;
  width: 50%;
  border-color: black;
  text-align: center;
  border-bottom-color: grey;
  border-top-color: grey;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--government-font)
}

.header_child.english{

}

.entry_container{
  float:left;
  display: inline-block;
  width: 100%;
}

.entry_child{
    float:left;
    color:white;
    background: black;
    text-transform: uppercase;
    float:left;
    max-width: 46%;
    border-color: black;
    text-align: center;
    border-bottom-color: grey;
    border-top-color: grey;
}

.entry_child.alien {
  border-right-color: grey;

}
.entry_child.english {
  border-left-color: grey;

}

.horizontal_breakline{
  width: 100px;
  align-items: center;

}
textarea::-webkit-scrollbar{
  background-color: black;

}
textarea::-webkit-scrollbar-thumb {
  background-color: #3f3f3f ;
}

.addEntry{
  display:inline-block;
  background-color: black;
  border-color: black;
  margin-top: 4px;
  padding-right: 1px;
  color:grey;
  width:96%;
}