.translator {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25em;
  font-family: monospace, var(--conspiracy-font);
  background-color: #153135;
  color: #cfffe5;
  width: 960px;
  height: 700px;
  overflow: hidden;
}

.translator .translator-section {
  height: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
  flex: 0 1 calc(60% - 40px);
}
.translator .key {
  flex: 0 1 calc(40% - 40px);
}

.translator textarea {
  resize: none;
}
.translator textarea::-webkit-scrollbar {
  display: none;
}

.translator .translator-box {
  width: calc(100% - 40px);
  height: calc(50% - 50px);
  padding: 20px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 6px;
  overflow-y: scroll;
  text-transform: uppercase;
  font-size: 1em;
}
.translator .translator-box:focus {
  outline: none;
}

.translator .input-box {
  background-color: #111F23;
  border: 2px solid #314948;
  color: #96B9A6;
}
.translator .input-box::placeholder {
  color: #cfffe5;
  opacity: 0.5;
}
.translator .output-box {
  background-color: #0B191E;
  border: 2px solid transparent;
  color: #cfffe5;
}
.translator .output-box::placeholder {
  color: #cfffe5;
  opacity: 0.5;
}


