.translation_key {
  color: #96b9a6;
  border: 2px solid #314948;
  border-radius: 5px;
  padding: 10px;
  height: calc(100% - 20px - 70px);
  /* display: grid;
  grid-template-rows: repeat(13, minmax(0, 1fr));
  column-gap: 4px;
  grid-auto-flow: column; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_container {
  display: flex;
}
.entry_container {
  width: 148px;
  position: relative;
}
.entry_container:nth-child(n + 14) {
  float: right;
}

.entry_container > * {
  display: inline-block;
  margin: 4px 0;
}
.entry_container .entry_index {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
.entry_container .arrow {
  width: 20px;
  margin-left: 15px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}
.entry_child {
  width: 35px;
  color: inherit;
  font-family: monospace, var(--conspiracy-font);
  font-size: 0.8em;
  background-color: #111f23;
  border-radius: 5px;
  border: 2px solid #314948;
  text-align: center;
  margin: 3px;
  padding: 6px 3px;
  text-transform: uppercase;
}
.entry_child:focus {
  outline: none;
  background-color: #102328;
}
.entry_child.dup {
  border-color: #a4002b;
}
.entry_child.correct {
  background-color: #268423;
}
.entry_child.incorrect {
  background-color: #821100;
}

.addEntry {
  display: inline-block;
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
  margin-top: 4px;
  padding-right: 1px;
  color: grey;
  width: 96%;
}
