.translator_elements{
  float: left;
  height: 100%;
}

.translate_box{
  overflow-y: scroll;
  float:left;
  color:blue;
}

.key{
  min-width: 100px;

}

textarea{
  resize: none;
}

textarea::-webkit-scrollbar{
  background-color: black;

}
textarea::-webkit-scrollbar-thumb {
  background-color: #3f3f3f ;
}


.header{
  background-color: blue;

}

.key_button{
  background-color: transparent;
  border-color: transparent;
  color: grey;
  height:100%;
  text-align: right;


}

.input_box{
  display: block;
  height: 215px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-bottom-color: black;
  background-color: black;
  color: white;
  overflow-y: scroll;
  text-transform: uppercase;
  border-color: grey;
}

.output_box{
  display: block;
  height: 215px;
  width: 400px;
  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;
  overflow-y: scroll;

}
.key{
  display: inline-block;
  float: right;
}